/* font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1600px;
    background-color: #fff;
}

.header-container {
    width: 75%;
    max-width: 1600px;
    height: 600px;
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}

.header-content {
    width: 650px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-content h2 {
    font-size: 32px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

}

.header-content h1 {
    text-align: center;
    color: #fff;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

/* hero section style end  */