/* font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1600px;
    background-color: #fff;
}

/* similar style  */
.container-box {
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;

}

/* similar style  */


.header-container {
    height: 600px;
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    width: 650px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h2 {
    font-size: 32px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

}

.header-content h1 {
    text-align: center;
    color: #fff;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* Hero Section Style End  */
/* Offer Section Style Start  */
.offer-container {}

.offer-content {
    width: 900px;
    height: 900px;
    margin: 100px auto;
    text-align: center;
}

.offer-content h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;

}

.offer-content h4 {
    font-size: 24px;
    font-family: Inter;
    color: #F00;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer-content h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Offer Section Style End  */
/* Join Section Start  */
.join-container {
    height: 600px;
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-content {
    width: 700px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
}

.join-img {
    padding-right: 150px;
}

.join-content h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 20px;
}

.join-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.join-content button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: none;
}

/* Join Section Style End  */
/* Place Section Start  */
.place-container {
    height: 500px;
    margin: 100px auto;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgb(217, 232, 250) 100%);
}

.place-content {
    width: 550px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.place-content h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.place-content span {
    color: #F00;
}

.place-content button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;

}

/* Place Section Style End   */
/* Comming Section Style Start  */
.comming-container {
    height: 500px;
}

.comming-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comming-info {
    width: 400px;
}

.part-one h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.part-one h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.part-one p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.comming-img {
    border: 15px solid #F00;
    height: 400px;
    border-radius: 100%;
}

.comming-img-content {
    margin-top: 50px;
    margin-left: 50px;
}

.part-three h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;


}

.part-three p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;


}

/* Comming Section End  */
/* Holiday Section Start  */
.holiday-container {
    width: 82%;
    !important
}

.holiday-content {
    width: 1100px;
    height: 250px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
}

.holiday-content h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.holiday-content h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 20px;
}

.holiday-content span {
    color: #F00;

}

.holiday-content p {
    color: rgba(7, 2, 17, 0.60);
    /* text-align: center; */
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}

.holiday-img {
    width: 100%;
    height: 660px;
    background-image: url("../resources/Group 75.png"), url("../resources/Rectangle 2.png"), url("../resources/Rectangle 1.png");
    background-repeat: no-repeat;
    background-position: top left, bottom, top right;
}

.holiday-offer {
    width: 250px;
    height: 250px;
    position: relative;
    top: 12%;
    left: 56%;
}

/* Holiday Section Style End  */
/* Portfolio Section Style Start  */
.portfolio-container {
    height: 1200px;
}

.portfolio-content {}

.portfolio-text {
    padding: 20px 10px;
    margin: 50px 0px;
}

.portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.portfolio-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-img {
    margin-bottom: 10px;
}

.img-item {
    transition: all 0.5s;
}

.img-item:hover {
    transform: scale(1.1);
}

/* Portfolio Section Style End  */
/* Subscribe Section Style Start   */
.subscribe-container {
    height: 630px;
    margin: 100px auto;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgb(217, 232, 250) 100%);
}

.subscribe-content {
    width: 900px;
    height: 500px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe-content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.subscribe-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subscribe-content input[type=email] {
    padding: 25px 30px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 18px;
    background-color: #fff;
    color: black;

}

.subscribe-content input[type=submit] {
    padding: 25px 30px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    font-size: 18px;
    background-color: #F00;
    color: #070211;
    margin-left: -5px;
}


/* Subscribe Section Style End   */
/* Footer style Start  */
footer {
    background-color: black;
    color: #FFF;
    margin-top: 100px;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footer-header p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.header-part-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-part-two img {
    display: block;
}

.footer-icons {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footer-dev p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}